body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  line-height: 1em;
}

h1{
  font-size: 3em !important;
}

div{
  margin: 2%;
}

nav{
  display: inline-flex;
  font-size: 1.5em;
  width: 100%;
  background-color: #191414;
}

nav > a{
  margin: 0 1em;
  color: white !important;
}

.app{
  padding: 2%;
}

.display{
  display: inline-flex;
  flex-wrap: wrap;
  color: #3d3b3b;
}

.tracks{
  max-height: 100vh;
  overflow-y: scroll;
  color: white;
  background-color: #191414;
  padding: 5%;
  width: 50%;
  min-width: 300px;
}

.stats{
  min-width: 300px;
}

.playlist{
  display: inline-flex;
  flex-wrap: wrap;
}

.tracks > a{
  color: white !important;
}

a{
  color: #191414 !important;
}

h4 > a{
  color: #3d3b3b !important;
}

h4 > a:hover{
  color: #191414 !important;
}

.stats{
  background-color: #191414;
  padding: 5%;
  color:white;
}

#playlistImg{
  width: 300px;
  height: 300px;
}

.info{
  min-width: 300px;
  width: 50%;
}

a{
  text-decoration: none !important;
}

a:hover{
  color: #9e9595 !important;
}

#linkForm{
  font-size: 2em;
}


#linkForm > input{
  outline: none;
  border: 0;
}

#linkForm > input[type=submit]{
  background-color: #191414;
  color: white;
  border-radius: 0 5px 5px 0;
}

#linkForm > input[type=text]{
  border-radius: 5px 0 0 5px;
}

button{
  font-size: 1.5em !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  margin-left: 2% !important;
  padding-left: 0 !important;
}

h4{
  font-weight: normal !important;
}